#principal{
    background-image: url("https://www.buenosaires.gob.ar/sites/gcaba/files/field/image/whatsapp_image_2020-03-27_at_17.48.35_1.jpeg");
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh; 
    padding: 2rem;
    padding-top: 8rem;
}

.principalbody{
    color: rgb(228, 228, 228);
    font-weight: 600;
    padding-top: 1rem;
    width: 65%;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}

#secundario{
    background-color: #f9f9f9;
    padding: 2rem;
    display: grid;
    grid-template-areas:
    "room"
    "felices"
    "work";
    justify-content: space-around;
    margin-bottom: 2rem;
    align-items: center;
    justify-items: center;
}

.secundarioRoom{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    padding: 1rem;
}

.secundarioRoom, h2{
    margin-bottom: 1rem;
}
.secundarioRoom, h5{
    margin-bottom: 1rem;
    color: green;
    font-weight:600
}

.secundarioFelices{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    padding: 2rem;
}

.secundarioCowork{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    padding: 2rem;
}

.secundario--room{
    grid-area: room;
    border-radius: 10px;
}
.secundario--felices{
    grid-area: felices;
}
.secundario--work{
    grid-area: work;
}

@mixin imagenes {
    transform: scale(1.3)
}

.secundarioRoom:hover{
    @include imagenes()
}

.secundarioFelices:hover{
    @include imagenes()
}

.secundarioCowork:hover{
    @include imagenes()
}

.roomText{
    margin-right: 1rem;
}

.gastronomia{
    background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-simple-black-gourmet-menu-background-picture-image_1317710.jpg");
    background-color: black;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh; 
    padding: 2rem;
}

/*----Tabla-----*/

.ofertas{
    color: #4B6587;
    padding: 2rem;
}

table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td{
    background-color: #f2f4f6;
  }

  /*-----suscripcion-----*/

  .suscripcion{
    background-color: white;
    color: black;
    text-align: center;
    line-height: 100px;
    height: 30vh; 
    padding: 2rem;  
  }

  input{
    border: 2px solid black;
    padding: 3px;
  }
  
  input:placeholder-shown{
    border-color: silver;

  }

  .button{
    text-decoration: none;
    padding: 6px;
    font-weight: 600;
    font-size: 10px;
    color: #ffffff;
    background-color: #4B6587;
    border-radius: 6px;
    border: 2px solid #4B6587;
    cursor: pointer;
  }

  .button:hover{
    color: #7391b8;
    background-color: #ffffff;
    border: 2px solid #4B6587;
  }

  .cuadro{
      border: none
  }

/*-----Sobre Nosotros----*/

.nosotrosPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    padding-top: 30%;
    .nosotrosTitulo{
        padding-bottom: 3rem;
    }
}

.nosotrosSecundario{
    background-color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .nosotrosSecundarioContenedor{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

@mixin nosotrosMobile{
    color: #f2f4f6;
    padding: 2rem;
    width: 65%;
    font-size: 0.8rem;
    line-height: 1.8rem;
    text-align: left;
    margin-left: 15%;
}

.nosotrosSecundarioMision{
    @include nosotrosMobile();
    grid-area: nosotrosSecundarioMision;
}

.nosotrosSecundarioVision{
    @include nosotrosMobile();
    grid-area: nosotrosSecundarioVision;
}

.nosotrosSecundarioValores{
    @include nosotrosMobile();
    grid-area: nosotrosSecundarioValores;
}

@mixin nosotrosMobile2 {
    text-align: center;
    color: white;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.mision{
    grid-area: mision;
    @include nosotrosMobile2();
}
.vision{
    grid-area: vision;
    @include nosotrosMobile2();
}
.valores{
    grid-area: valores;
    @include nosotrosMobile2();
}

.mapa{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 3%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    .mapaTitulo{
        margin-left: 0%;
    }
    iframe{
        width: 250px;
        height: 150px;
    }
}

/*-----Alojamiento----*/

.alojamientoPrincipal{
    padding-top: 20%;
    display: grid;
    grid-template-areas:
    "alojamientoTitulo"
    "alojamientoBody";
    justify-content: space-between;
    grid-template-rows: 0.5fr 1fr;
    align-content: space-around;
    align-items: center;
    justify-items: center;
}

.alojamientoPrincipal, h1{
    grid-area: alojamientoTitulo;
}

.alojamientoBody{
    color: #706f6f;
    padding: 2rem;
    width: 65%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
    grid-area: alojamientoBody;
}

/*-----CSS Login----*/

  #form0{
    padding: 10rem;
    display: grid;
    grid-template-areas:
    "saludo"
    "formLogin";
    justify-content: space-around;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    align-items: center;
  }

  .formLogin{
      width: 210px;
      height: 390px;
      background: black;
      margin: auto;
      margin-top: 10px;
      box-shadow: 7px 13px 37px #000;
      padding: 2rem;
      color: white;
      margin-bottom: 30px;
      grid-area: formLogin;
      
  }

  .login{
      margin: 0;
      text-align: center;
      height:40px;
      margin-bottom: 30px;
      border-bottom: 1px;
      font-size: 16px;
  }

  .controls{
      width: 100%;
      border: 1px;
      margin-bottom: 15px;
      padding: 11px 10px;
      background: white;
      font-size: 12px;
      font-weight: bold;
  }

  .buttons{
      width: 100%;
      height: 40px;
      background: silver;
      border: none;
      color: white;
      margin-bottom: 16px;
      text-decoration: none;
      padding: 6px;
      font-weight: 600;
      font-size: 8px;
      background-color: #303030;
      border-radius: 6px;
      border: 2px solid black;
      cursor: pointer;
  }

  .buttons:hover{
    color: #7391b8;
    background-color: #ffffff;
    border: 2px solid #4B6587;
  }

  #olvidar{
      color: white;
      text-decoration: none;
      font-size: 10px;
      padding: 2px;
      margin-bottom: 2px;
  }

  #olvidar:hover{
      text-decoration: underline;
  }

  .saludo{
    margin-top: 10px;
    padding: 20px 30px 10px;
    grid-area: saludo;
  }


  .fondoLogin{
    background-image: url(https://images.pexels.com/photos/1024967/pexels-photo-1024967.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1024967.jpg&fm=jpg);
    background-color: white;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /*-----CSS FormConsulta----*/

  .formConsulta{
    width: 250px;
    height: 900px;
    background: black;
    margin: auto;
    margin-top: 150px;
    box-shadow: 7px 13px 37px #000;
    padding: 2rem;
    color: white;
    margin-bottom: 30px;
  }

  .buttonForm{
    text-decoration: none;
    padding: 6px;
    font-weight: 600;
    font-size: 8px;
    color: #ffffff;
    background-color: #303030;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;
  }

  .buttonForm:hover{
    color: #7391b8;
    background-color: #ffffff;
    border: 2px solid #4B6587;
  }

  .fondoForm{
    background-image: url(https://images.pexels.com/photos/1024967/pexels-photo-1024967.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1024967.jpg&fm=jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  .formularioPadding{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    font-size: 0.8rem;
}

    /*--RESERVAS--*/

    .formReserva{
        width: 250px;
        height: 600px;
        background: black;
        margin: auto;
        margin-top: 150px;
        box-shadow: 7px 13px 37px #000;
        padding: 2rem;
        color: white;
        margin-bottom: 30px;
      }

      .people{
        width: 100px;
    }

  .formularioPadding2{
      padding-top: 1rem;
      padding-bottom: 1rem;
  }

  .selectorEstilo{
    border: 1px solid silver;
    border-radius: 4px;
    padding: 0 10px;
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }

  .formReservaPago{
    width: 250px;
    height: 150px;
    background: black;
    margin: auto;
    margin-top: 150px;
    box-shadow: 7px 13px 37px #000;
    padding: 2rem;
    color: white;
    margin-bottom: 30px;
    .tituloReserva{
        font-weight: 600;
        padding-bottom: 2rem;
    }
  }

    .contenedor {
        width: 90%;
        max-width: 1000px;
        padding: 40px 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;
    }
    
    /* ---------- Estilos Generales de las Tarjetas ----------*/
    .tarjeta {
        width: 100%;
        max-width: 550px;
        position: relative;
        color: #fff;
        transition: .3s ease all;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        cursor: pointer;
        z-index: 2;
    }
    
    .tarjeta.active {
        transform: rotateY(180deg);
    }
    
    .tarjeta > div {
        padding: 30px;
        border-radius: 15px;
        min-height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 10px 10px 0 rgba(0,85,212,0.4);
    }
    
    /* ---------- Tarjeta Delantera ----------*/
    
    .tarjeta .delantera {
        width: 100%;
        background: url("https://crehana-blog.s3.amazonaws.com/media/filer_public/fc/e0/fce032c0-7a51-4176-8cf1-b98f6cb34d21/fondos-pantalla-pc-3d-1.png");
        background-size: cover;
    }
    
    .delantera .logo-marca {
        text-align: right;
        min-height: 50px;
    }
    
    .delantera .logo-marca img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 80px;
    }
    
    .delantera .chip {
        width: 100%;
        max-width: 50px;
        margin-bottom: 20px;
    }
    
    .delantera .grupo .label {
        font-size: 16px;
        color: white;
        margin-bottom: 5px;
    }
    
    .delantera .grupo .numero,
    .delantera .grupo .nombre,
    .delantera .grupo .expiracion {
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
    }
    
    .delantera .flexbox {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    /* ---------- Tarjeta Trasera ----------*/
    .trasera {
        background: url("https://crehana-blog.s3.amazonaws.com/media/filer_public/fc/e0/fce032c0-7a51-4176-8cf1-b98f6cb34d21/fondos-pantalla-pc-3d-1.png");
        background-size: cover;
        position: absolute;
        top: 0;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
    
    .trasera .barra-magnetica {
        height: 40px;
        background: #000;
        width: 100%;
        position: absolute;
        top: 30px;
        left: 0;
    }
    
    .trasera .datos {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    
    .trasera .datos p {
        margin-bottom: 5px;
    }
    
    .trasera .datos #firma {
        width: 70%;
    }
    
    .trasera .datos #firma .firma {
        height: 40px;
        background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
    }
    
    .trasera .datos #firma .firma p {
        line-height: 40px;
        font-family: 'Liu Jian Mao Cao', cursive;
        color: #000;
        font-size: 30px;
        padding: 0 10px;
        text-transform: capitalize;
    }
    
    .trasera .datos #ccv {
        width: 20%;
    }
    
    .trasera .datos #ccv .ccv {
        background: #fff;
        height: 40px;
        color: #000;
        padding: 10px;
        text-align: center;
    }
    
    .trasera .leyenda {
        font-size: 8px;
        line-height: 20px;
    }
    
    .trasera .link-banco {
        font-size: 14px;
        color: #fff;
    }
    
    /* ---------- Contenedor Boton ----------*/
    .contenedor-btn .btn-abrir-formulario {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 20px;
        background: #303030;
        color: #fff;
        position: relative;
        top: -25px;
        z-index: 3;
        border-radius: 100%;
        box-shadow: -5px 4px 8px ;
        padding: 5px;
        transition: all .2s ease;
        border: none;
        cursor: pointer;
    }
    
    .contenedor-btn .btn-abrir-formulario:hover {
        background: black;
    }
    
    .contenedor-btn .btn-abrir-formulario.active {
        transform: rotate(45deg);
    }
    
    /* ---------- Formulario Tarjeta ----------*/
    .formulario-tarjeta {
        background: black;
        width: 100%;
        max-width: 700px;
        padding: 150px 30px 30px 30px;
        border-radius: 10px;
        position: relative;
        top: -150px;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
    }
    
    .formulario-tarjeta.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .formulario-tarjeta label {
        display: block;
        color: #c5c8cc;
        margin-bottom: 5px;
        font-size: 16px;
    }
    
    .formulario-tarjeta input,
    .formulario-tarjeta select,
    .btn-enviar {
        border: 2px solid #CED6E0;
        font-size: 18px;
        height: 50px;
        width: 100%;
        padding: 5px 12px;
        transition: .3s ease all;
        border-radius: 5px;
    }
    
    .formulario-tarjeta input:hover,
    .formulario-tarjeta select:hover {
        border: 2px solid #93BDED;
    }
    
    .formulario-tarjeta input:focus,
    .formulario-tarjeta select:focus {
        outline: rgb(4,4,4);
        box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
    }
    
    .formulario-tarjeta input {
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    
    .formulario-tarjeta .flexbox {
        display: flex;
        justify-content: space-between;
    }
    
    .formulario-tarjeta .expira {
        width: 100%;
    }
    
    .formulario-tarjeta .ccv {
        min-width: 100px;
    }
    
    .formulario-tarjeta .grupo-select {
        width: 100%;
        margin-right: 15px;
        position: relative;
    }
    
    .formulario-tarjeta select {
        -webkit-appearance: none;
    }
    
    .formulario-tarjeta .grupo-select i {
        position: absolute;
        color: #CED6E0;
        top: 18px;
        right: 15px;
        transition: .3s ease all;
    }
    
    .formulario-tarjeta .grupo-select:hover i {
        color: #93bfed;
    }
    
    .formulario-tarjeta .btn-enviar {
        border: none;
        padding: 10px;
        font-size: 22px;
        color: #fff;
        background: #303030;
        box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
        cursor: pointer;
    }
    
    .formulario-tarjeta .btn-enviar:hover {
        background: white;
        border: black;
        color: black;
    }

    

/*--Legales--*/

.legalesPrincipal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        justify-items: center;
        padding-top: 30%;
        .legalesTitulo{
            font-size: 30px;
            text-align: center;
            padding-bottom: 1rem;
            .LegalesTituloContenido{
                text-align: center;
            }
        }

        .legalesSecundarioContenedor{
            padding-top: 1rem;
        }
        
}

.legalesSecundario{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}




/*--TABLET--*/

@media screen and (min-width: 768px) {

    #secundario{
        padding: 8rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin-bottom: 2rem;
        align-items: flex-start;
    }

    /*--Sobre nosotros--*/
    .nosotrosPrincipal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        justify-items: center;
        padding-top: 15%;
        
    }
    
    .nosotrosSecundario{
        background-color: black;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    
        .nosotrosSecundarioContenedor{
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }
    
    @mixin nosotrosMobile{
        color: #f2f4f6;
        padding: 2rem;
        width: 65%;
        font-size: 0.8rem;
        line-height: 1.8rem;
        text-align: left;
        margin-left: 15%;
    }
    
    .nosotrosSecundarioMision{
        @include nosotrosMobile();
        grid-area: nosotrosSecundarioMision;
    }
    
    .nosotrosSecundarioVision{
        @include nosotrosMobile();
        grid-area: nosotrosSecundarioVision;
    }
    
    .nosotrosSecundarioValores{
        @include nosotrosMobile();
        grid-area: nosotrosSecundarioValores;
    }
    
    @mixin nosotrosMobile2 {
        text-align: center;
        color: white;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .mision{
        grid-area: mision;
        @include nosotrosMobile2();
    }
    .vision{
        grid-area: vision;
        @include nosotrosMobile2();
    }
    .valores{
        grid-area: valores;
        @include nosotrosMobile2();
    }
    
    .mapa{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
        padding-top: 3%;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .mapaTitulo{
            margin-left: 0%;
        }
        iframe{
            width: 250px;
            height: 150px;
        }
    }

    /*-----CSS Login----*/


  .formLogin{
      width: 300px;
  }

  .login{
      font-size: 18px;
  }

  .controls{
      font-size: 10px;
  }

  /*-----CSS FormConsulta----*/

  .formConsulta{
    width: 400px;
  }

  .buttonForm{
    font-size: 10px;
  }

  .formularioPadding{
    font-size: 1rem;
}
}

/*--ESCRITORIO--*/

@media screen and (min-width: 900px) {
    #principal{
        background-image: url("https://www.buenosaires.gob.ar/sites/gcaba/files/field/image/whatsapp_image_2020-03-27_at_17.48.35_1.jpeg");
        background-color: black;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 70vh; 
        padding: 2rem;
        padding-top: 10rem;
        padding-left: 10rem;
        .tituloPrincipal{
            padding-left: 8rem;
        }
    }
    
    .principalbody{
        color: rgb(228, 228, 228);
        font-weight: 600;
        padding: 2rem;
        width: 65%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: justify;
    }
    
    #secundario{
        background-color: #f9f9f9;
        padding: 2rem;
        display: grid;
        grid-template-areas:
        "room felices work";
        justify-content: space-around;
        margin-bottom: 2rem;
        align-items: center;
        justify-items: center;
    }
    
    .secundarioRoom{
        height: 250px;
        width: 250px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        padding: 2rem;
        margin-left: 30%;
    }
    
    .secundarioRoom, h2{
        margin-bottom: 1rem;
        text-align: center;
    
    }
    .secundarioRoom, h5{
        margin-bottom: 1rem;
        color: green;
        font-weight:600
    }
    
    .secundarioFelices{
        height: 250px;
        width: 250px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        padding: 2rem;
        justify-items: center;
        align-content: center;
        margin-left: 30%;
    }
    
    .secundarioCowork{
        height: 250px;
        width: 250px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
        padding: 2rem;
        margin-left: 30%;
    }
    
    .secundario--room{
        grid-area: room;
        border-radius: 10px;
    }
    .secundario--felices{
        grid-area: felices;
    }
    .secundario--work{
        grid-area: work;
    }
    
    @mixin imagenes {
        transform: scale(1.3)
    }
    
    .secundarioRoom:hover{
        @include imagenes()
    }
    
    .secundarioFelices:hover{
        @include imagenes()
    }
    
    .secundarioCowork:hover{
        @include imagenes()
    }
    
    .gastronomia{
        background-image: url("https://media.gq.com.mx/photos/615ca052b0eb24842572fbc6/16:9/w_2991,h_1682,c_limit/Comida%20gourmet.jpg");
        background-color: black;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 30vh; 
        padding: 2rem;
    }
    /*----Tabla-----*/
    
    .ofertas{
        color: #4B6587;
        padding: 2rem;
    }
    
    table, th, td{
        border: 1px solid white;
        border-collapse: collapse;
      }
      th, td{
        background-color: #f2f4f6;
      }
    
      /*-----suscripcion-----*/
    
      .suscripcion{
        background-color: white;
        color: black;
        text-align: center;
        line-height: 100px;
        height: 30vh; 
        padding: 2rem;  
      }
    
      input{
        border: 2px solid black;
        padding: 3px;
      }
      
      input:placeholder-shown{
        border-color: silver;
    
      }
    
      .button{
        text-decoration: none;
        padding: 6px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #4B6587;
        border-radius: 6px;
        border: 2px solid #4B6587;
        cursor: pointer;
      }
    
      .button:hover{
        color: #7391b8;
        background-color: #ffffff;
        border: 2px solid #4B6587;
      }
    
      .cuadro{
          border: none
      }
    
    /*-----Sobre Nosotros----*/
    
    .nosotrosPrincipal{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-items: center;
        background-color: #f2f4f6;
        padding-top: 8%;
        .nosotrosTitulo{
            padding-bottom: 3rem;
        }
    }
    
    .nosotrosSecundario{
        background-color: black;
        padding: 2rem;
        display: flex;
        flex-direction: row;

        .nosotrosSecundarioContenedor{
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
        }
    }


    @mixin nosotrosMV {
        color: #f2f4f6;
        padding: 0rem;
        width: 65%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: center;
    }
    
    .nosotrosSecundarioMision{
        @include nosotrosMV();
        grid-area: nosotrosSecundarioMision;
    }
    
    .nosotrosSecundarioVision{
        @include nosotrosMV();
        grid-area: nosotrosSecundarioVision;
    }
    
    .nosotrosSecundarioValores{
        @include nosotrosMV();
        grid-area: nosotrosSecundarioValores;
    }
    
    @mixin nosotrosMV2 {
        text-align: center;
        color: white;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .mision{
        grid-area: mision;
        @include nosotrosMV2();
    }
    .vision{
        grid-area: vision;
        @include nosotrosMV2();
    }
    .valores{
        grid-area: valores;
        @include nosotrosMV2();
    }

    .mapa{
        display: flex;
        flex-direction: column;
        padding-bottom: 5%;
        padding-top: 3%;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .mapaTitulo{
            margin-left: 0%;
        }
        iframe{
            width: 1000px;
            height: 450px;
        }
    }

    
    /*-----Alojamiento----*/
    
    .alojamientoPrincipal{
        padding-top: 10%;
        display: grid;
        grid-template-areas:
        "alojamientoTitulo"
        "alojamientoBody";
        justify-content: space-between;
        grid-template-rows: 0.5fr 1fr;
        align-content: space-around;
        align-items: center;
        justify-items: center;
    }
    
    .alojamientoPrincipal, h1{
        grid-area: alojamientoTitulo;
    }
    
    .alojamientoBody{
        color: #706f6f;
        padding: 2rem;
        width: 65%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: justify;
        grid-area: alojamientoBody;
    }
    
    /*-----CSS Login----*/
    
      #form0{
        padding: 10rem;
        display: grid;
        grid-template-areas:
        "saludo"
        "formLogin";
        justify-content: space-around;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        align-items: center;
      }
    
      .formLogin{
          width: 400px;
          height: 380px;
          background: black;
          margin: auto;
          margin-top: 10px;
          box-shadow: 7px 13px 37px #000;
          padding: 2rem;
          color: white;
          margin-bottom: 30px;
          grid-area: formLogin;
          
      }
    
      .login{
          margin: 0;
          text-align: center;
          height: 40px;
          margin-bottom: 30px;
          border-bottom: 1px;
          font-size: 20px;
      }
    
      .controls{
          width: 100%;
          border: 1px;
          margin-bottom: 15px;
          padding: 11px 10px;
          background: white;
          font-size: 14px;
          font-weight: bold;
      }
    
      .buttons{
          width: 100%;
          height: 40px;
          background: silver;
          border: none;
          color: white;
          margin-bottom: 16px;
          text-decoration: none;
          padding: 6px;
          font-weight: 600;
          font-size: 10px;
          background-color: #303030;
          border-radius: 6px;
          border: 2px solid black;
          cursor: pointer;
      }
    
      .buttons:hover{
        color: #7391b8;
        background-color: #ffffff;
        border: 2px solid #4B6587;
      }
    
      #olvidar{
          color: white;
          text-decoration: none;
          font-size: 14px;
          padding: 2px;
          margin-bottom: 2px;
      }
    
      #olvidar:hover{
          text-decoration: underline;
      }
    
      .saludo{
        margin-top: 10px;
        padding: 20px 30px 10px;
        grid-area: saludo;
      }
    
      .fondoLogin{
        background-image: url(https://images.pexels.com/photos/1024967/pexels-photo-1024967.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1024967.jpg&fm=jpg);
        background-color: white;
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    
      /*-----CSS FormConsulta----*/
    
      .formConsulta{
        width: 400px;
        height: 900px;
        background: black;
        margin: auto;
        margin-top: 150px;
        box-shadow: 7px 13px 37px #000;
        padding: 2rem;
        color: white;
        margin-bottom: 30px;
      }
    
      .buttonForm{
        text-decoration: none;
        padding: 6px;
        font-weight: 600;
        font-size: 10px;
        color: #ffffff;
        background-color: #303030;
        border-radius: 6px;
        border: 2px solid black;
        cursor: pointer;
      }
    
      .buttonForm:hover{
        color: #7391b8;
        background-color: #ffffff;
        border: 2px solid #4B6587;
        text-decoration: underline;
      }
    
      .fondoForm{
        background-image: url(https://images.pexels.com/photos/1024967/pexels-photo-1024967.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1024967.jpg&fm=jpg);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
      }
    
      .formularioPadding{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        display: block;
        font-size: 16px;
    }

    /*--RESERVAS--*/

    .formReserva{
        width: 400px;
        height: 600px;
        background: black;
        margin: auto;
        margin-top: 150px;
        box-shadow: 7px 13px 37px #000;
        padding: 2rem;
        color: white;
        margin-bottom: 30px;

        .people{
            width: 100px;
        }
      }

      .formularioPadding2{
          padding-top: 1rem;
          padding-bottom: 1rem;
      }

      .selectorEstilo{
        border: 1px solid silver;
        border-radius: 4px;
        padding: 0 10px;
        height: 10px;
      
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 30px;
      }

      /*--Legales--*/

.legalesPrincipal{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding: 8rem;
    .legalesTitulo{
        font-size: 30px;
        text-align: center;
        padding-bottom: 1rem;
        .LegalesTituloContenido{
            text-align: center;
            flex-wrap: nowrap;
            padding: 2rem;
        }
    }

    .legalesSecundarioContenedor{
        padding-top: 2rem;
    }
    
}

.legalesSecundario{
padding: 2rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
.legalesSubTitulos{
    padding-bottom: 1rem;
}
}

.trasera .leyenda {
    font-size: 10px;
}
      
}