/*--FOOTER--*/

.footer{
    clear: both;
    background-color: black;
    color: cornsilk;
    padding: 2rem;
    margin-top: 2rem;


    .bloqueFooter{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
        align-content: center;
        flex-wrap: nowrap;font-size: 0.5rem;
        line-height: 1rem;

    }
}
.footer--menu{
    list-style: none;
    text-align: center;
    font-size: 0.5rem;
}

.footer--menu--item{
        list-style: none;
        text-align: center;
        a{
            text-decoration: none;
            color: white;
            font-size: 0.5rem;
            line-height: 0.8rem;
            flex-wrap: wrap;
            width: max-content;
        }
    } 



.footer--credito {
    text-align: center;
    padding: 1rem;
    font-size: 0.4rem;
}

.footer--redes{
    display: inline-block;
}

.legales{
    padding-top: 1rem;
}

/*--ESCRITORIO--*/

@media screen and (min-width: 900px) {
    .footer{
        clear: both;
        background-color: black;
        color: cornsilk;
        padding: 2rem;
        margin-top: 2rem;
        text-size-adjust: auto;
        .bloqueFooter{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: flex-start;
            align-content: center;
            flex-wrap: nowrap;
        }
    }
    
    .footer--menu{
        color: cornsilk;
        align-content: center;
        margin-bottom: 1rem;
        margin-left: 5rem;
        font-size: 1rem;
        h4{
            font-size: 1rem;
            padding-bottom: 1rem;
        }
    }

    .footer--menu--item{
            list-style: none;
            text-align: center;
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
                color: white;
                font-size: 0.8rem;
                line-height: 1rem;
                flex-wrap: wrap;
            }
    }     
    
    
    .footer--credito {
        text-align: center;
        padding: 1rem;
        font-size: 0.7rem;
    }
    
    .footer--redes{
        display: inline-block;
        h4{
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
    }

    
.legales{
    display: flex;
    flex-direction: wrap;
    padding-top: 1rem;
}
}